html, body {
    overflow: hidden;
}
#photoModal {
    z-index: 10000000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: none;
    color: white;
}
#photoModal.display {
    display: block;
}
#photoModal_back {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bb;
    backdrop-filter: blur(5px);
}
#photoModal_photo {
    z-index: 10000002;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#photoModal_photo_name {
    font-size: 1.4rem;
    text-align: center;
    margin-bottom: 0.5rem;
}
#photoModal_photo_img {
    height: calc(80vh - 2rem);
}
#close_photoModal, .modal_close {
    z-index: 10000003;
    position: absolute;
    font-size: 1.3rem;
    color: white;
    top: 0px;
    right: 0px;
    cursor: pointer;
    padding: 5px;
}
#slideshow_select_label {
    z-index: 10000002;
    position: absolute;
    bottom: 3px;
    right: 5px;
    color: white;
}

.button, .mode_btn, .setsumei {
    background: #000000aa;
    border: white 2.5px solid;
    border-radius: 5px;
    color: white;
    padding: 5px;
    font-family: "ヒラギノ角ゴ-Pro",'Noto Sans JP';
    font-weight: 500;
    font-size: 0.9rem;
    cursor: pointer;
    z-index: 10000;
    user-select: none;
}
.modal {
    z-index: 100000;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    overflow-y: auto;
    overflow-x: hidden;
}
.modal.display {
    display: block;
}
.modal_back {
    z-index: 10000;
    width: 100%;
    height: 100%;
    background-color: #00000099;
    position: absolute;
    top: 0;
    left: 0;
    backdrop-filter: blur(5px);
    display: none;
}
.modal_back.display {
    display: block;
}
#front_div_prefselect, .modal_front {
    color: white;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
}
#front_div_prefselect label, .modal_front label {
    font-size: 0.95rem;
    cursor: pointer;
}
#front_div_prefselect input[type=checkbox], .modal_front input[type=checkbox] {
    margin-left: 2em;
}
md-checkbox {
    margin: 0 3px;
}
#front_div_prefselect md-checkbox, .modal_front md-checkbox {
    margin-left: 2em;
}
.front_div_prefselect_titleDiv, .modal_front div {
    margin: 1rem 0;
}
.front_div_prefselect_regionDiv {
    font-size: 1.2rem;
    text-align: left;
    width: 100%;
    border-top: 2px solid white;
    padding: 8px;
    margin-top: 8px;
}
.front_div_prefselect_checkboxDiv span, .span_slideshow_select_checkbox {
    margin: 4px 0;
    display: inline-block;
}
#cancel_front_div_prefselect {
    display: inline-block;
    background: #ff000099;
    border: white 2px solid;
    border-radius: 5px;
    padding: 5px;
    cursor: pointer;
}
#ok_front_div_prefselect {
    display: inline-block;
    background: #0062ff99;
    border: white 2px solid;
    border-radius: 5px;
    padding: 5px;
    margin-left: 1rem;
    cursor: pointer;
}

#gnssLoading {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000000bb;
    backdrop-filter: blur(5px);
    color: white;
    z-index: 100000;
    display: none;
}
#gnssLoading.display {
    display: block;
}
#gnssLoading_div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 70%;
}